<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Hero Section</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-1BGb7mCsNxEqZ2P/vKBD6s6ZvDkmotxm6p7A8lKGaXeFp5I9VW5s/F1e9th7z6cPc5sA4NT6UEKjSLh5KR5QOA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="Hero.css">
</head>
<body>

<div class="hero-section">
    <div class="icon-container">
        <img src="https://www.w3schools.com/w3images/icons/html.png" alt="HTML Icon" class="icon html">
        <img src="https://www.w3schools.com/w3images/icons/css.png" alt="CSS Icon" class="icon css">
        <img src="https://www.w3schools.com/w3images/icons/js.png" alt="JavaScript Icon" class="icon js">
        <img src="https://www.w3schools.com/w3images/icons/react.png" alt="React Icon" class="icon react">
        <img src="https://www.w3schools.com/w3images/icons/nodejs.png" alt="Node.js Icon" class="icon nodejs">
        <img src="https://www.w3schools.com/w3images/icons/python.png" alt="Python Icon" class="icon python">
        <img src="https://www.w3schools.com/w3images/icons/java.png" alt="Java Icon" class="icon java">
        <img src="https://www.w3schools.com/w3images/icons/git.png" alt="Git Icon" class="icon git">
        <img src="https://www.w3schools.com/w3images/icons/github.png" alt="GitHub Icon" class="icon github">
        <img src="https://www.w3schools.com/w3images/icons/database.png" alt="Database Icon" class="icon database">
    </div>
    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Human Image" class="human-image">
</div>

</body>
</html>

<div class="hero-section">
    <div class="icon-container">
      <img src={icons.bootstrap}/>
      <h1>tag</h1>
        <img src={icons.python}   alt="python Icon" class="icon python" />
        <img src={icons.nodejs}    alt="nodejs Icon" class="icon nodejs" />
        <img src= {icons.git}         alt="git Icon" class="icon js" />
        <img src={icons.bootstrap}   alt="bootstrap Icon" class="icon bootstrap" />
        <img src={icons.javascript}   alt="javascript Icon" class="icon javascript" />
        <img src={icons.mongodb}   alt="mongodb Icon" class="icon mongodb" />
        <img src={icons.numpy}   alt="numpy Icon" class="icon numpy" />
        <img src={icons.react}   alt="react Icon" class="icon react" />
        <img src={icons.mysql}  alt="mysql Icon" class="icon mysql" />
        <img src={icons.npm}  alt="npm Icon" class="icon npm" />
    </div>
    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Human Image" class="human-image" />
</div>